<html>
  <head>
    <meta charset="utf-8" />
    <title>Imēj</title>
    <link href="{{{prelude.normalizeCss}}}" rel="stylesheet" />
    <link href="{{{prelude.resetCss}}}" rel="stylesheet" />
    {{#if slots.head}}
      {{{slots.head}}}
    {{/if}}
  </head>
  <body>
    {{#if slots.header}}
      <header>{{{slots.header}}}</header>
    {{/if}}
    {{#if slots.main}}
      <main>{{{slots.main}}}</main>
    {{/if}}
    <footer class="imej-blank-footer-container">
      {{#if slots.footer}}
        {{{slots.footer}}}
      {{/if}}
      <section class="imej-blank-footer-poweredby-container">
        <p class="imej-blank-footer-poweredby-text">
          <span>由 </span>
          {{#if slots.poweredBy}}
            <span>{{{slots.poweredBy}}}</span>
            <span> | </span>
          {{/if}}
          <span>Koishi Plugin Imēj</span>
          <span> | </span>
          <span>Koishi</span>
          <span> 生成</span>
        </p>
      </section>
    </footer>
  </body>
</html>
